@import "./scss/common.scss";
@import "./scss/home.scss";
@import "./scss/guideCreator.scss";
@import "./scss/guide.scss";
@import "./scss/components.scss";
@import "./scss/signin.scss";
@import "./scss/comments.scss";
html {
  overflow-x: hidden;
  background-color: $backGroundGrey;
}
a {
  text-decoration: none;
  color: inherit;
}

#mainLogo {
  // width: 100%;
  margin: 10px;
}
#container {
  // border: $mainBorder;
  display: flex;
  flex-direction: row;
  // width: 90%;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: $backGroundWhite;
}

#mainSidebar {
  // border: $mainBorder;
  min-height: 100vh;
  width: 7%;
  margin-right: 2%;
  padding: 1%;
  background-color: $backGroundDarkGrey;
  display: flex;
  flex-direction: column;
}