$guideImgSize : 3;
#guideHead{
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    margin: 10px;
    width: 80vw;
    min-width: 50vw;
    background-color: white;
    padding: 2%;
}
#guideTitle{
  font-weight: bold;
  font-size: 2em;
  margin: 1% 0;
}
#guideAuthor{
  @extend #guideTitle;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#guideHeadDesc{
  margin: 1% 0;
}
#guideHeadImg{
  overflow: hidden;
  width: 16vw * $guideImgSize;
  height: 9vw * $guideImgSize;
  margin: 2% 0;
}
#guideHeadVideo{
  @extend #guideHeadImg;
}



.guideSection{
    @extend #guideHead;
}
.guideSectionTitle{
  @extend #guideTitle;
  font-size: 1.5em;
}
.guideSectionImg{
  @extend #guideHeadImg;
}
.guideSectionVideo{
  @extend #guideHeadVideo;
}

.selfButtons{
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.deleteButton {
    color: red;
    cursor: pointer;
    margin: 0 10px;
    // background-color:;
  }
  .deleteButton:hover {
    font-weight: bold;
    // text-decoration: underline;
  }
  
  .editButton{
    @extend .deleteButton;
    color: rgb(0, 104, 0);
  }